.main-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hello_world_2022-building-8991569_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 720px;
    justify-content: center;
    align-items: center;
}


img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;

}


img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.num {
    font-size: 2rem;
    font-weight: bold;
}