.main-section{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmFrZXJ5fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.num {
    font-size: 2rem;
    font-weight: bold;
}